$blue: #228be6;  // 주석!

.Button {
    display: inline-flex;  // flexboxfroggy.com
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    height: 2.25rem;  // Chrome 에서는 기본 16px이므로 2.25*16 = 36px
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;

    background: $blue;
    &:hover {
        background: lighten($blue, 10%);
    }
    &:active {
        background: darken($blue, 10%);
    }
}