@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
    font-family: "Jua", sans-serif;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    background-color: #ced3df;
    text-align: center;
}

.list {
    width: 400px;
    margin: auto;
    background-color: #471b30;
    border-radius: 20px;
    -webkit-box-shadow: 5px 6px 5px 0px rgba(173,157,173,0.83);
    -moz-box-shadow: 5px 6px 5px 0px rgba(173,157,173,0.83);
    box-shadow: 5px 6px 5px 0px rgba(173,157,173,0.83);
    color: white;
}

.header {
    height: 48px;
    padding: 8px;
    font-size: 24px;
    background: rgb(112, 2, 63);
    background: linear-gradient(
        66deg, 
        rgba(112, 2, 63, 1) 0%, 
        rgba(89, 9, 121, 1) 50%, 
        rgba(4, 23, 102, 1) 100%
    );
    border-radius: 20px 20px 0 0;
    color: white;
}

.items {
    height: 500px;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
}

.item__delete {
    color: white;
    font-size: 16px;
    transition: all 300ms ease-in;
}

.item__delete:hover {
    color: rgb(224, 122, 173);
    transform: scale(1.1);
}

.item__divider {
    width: 90%;
    height: 1px;
    background-color: rgba(167, 73, 131, 0.733);
    margin: auto;
}

.footer {
    background: rgb(112, 2, 63);
    background: linear-gradient(
        66deg, 
        rgba(112, 2, 63, 1) 0%, 
        rgba(89, 9, 121, 1) 50%, 
        rgba(4, 23, 102, 1) 100%
    );
    border-radius: 0 0 20px 20px;
}

.footer__input {
    background-color: rgb(121, 87, 119);
    color: white;
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 0 16px;
}

.footer__button {
    width: 48px;
    height: 48px;
    font-size: 28px;
    background-color: rgb(5, 0, 0);
    border-radius: 50%;
    color: white;
    transition: all 300ms ease-in;
}

.footer__button:hover {
    transform: scale(1.1);
}