div.rounded {
    border-radius: 50px;
    border: 1px solid blue;
    width: 200px;
    height: 200px;
}

div.a {
    background-color: lightgray;
    width: 300px;
    height: 50px;
    padding: 25px;
    border: 10px solid navy;
    margin: 15px;
    overflow: hidden;
}