<!DOCTYPE html> 
<html> <!-- 상위 태그 -->
    <head>
        <!-- 뇌. 사용자에게 보이지 않음 -->
        <meta charset="utf-8"><!-- 한글 안깨지게 -->
    </head>
    <body>
        <!-- 외관 전체 -->
        Hyper
        Text
        Markup
        Language
        <h1>Today I Learned</h1>
        <h2>Learn Flask</h2>
        <ol>
            <li>pip install flask</li>
            <li>touch app.py</li>
            <li>python app.py</li>
        </ol>

        <h2>Learn HTML</h2>
        <ul>
            <li>doctype html</li>
            <li>head, body</li>
            <li>h1, h2, ol, ul, li</li>
        </ul>
    </body>
</html>

