/* article 중 1번째 */
article:first-of-type {
    background-color: red;
}

article:nth-of-type(2) {
    background-color: green;
}

article:nth-last-of-type(2) {
    background-color: blue;
}

article:last-of-type {
    background-color: black;
}

/* 첫번째 자식인데 까고 보니 p*/
p:first-child{  /* 첫번째 자식이 p 라면 */
    color: gold;
}

/* 막내인데 까고 보니 p */
p:last-child(1){
    color: violet;
}

/* 부모는 모르겠고 아무튼 4째인데 p */
p:nth-child(4) {
    color: navy;
}



/* pseudo class selector */
/* 상태에 따라 클래스를 바꾼다. */
/* selector: 가상-클래스 */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: orange;
}

/* 방문한 link */
a:visited {
   color: beige; 
}

/* 방문하지 않은 link */
a:link { 
    color: red;
}

input:focus {
    background-color: black;
    color: white;
}