{% extends 'board/base.html' %}
{% block title %}Article list{% endblock title %}

{% block body %}
<h1>This is Article list</h1>
<a href="{% url 'board:new' %}">New article</a>

{% if articles %}
    <ul>
        {% for article in articles %}  <!-- [<A1>, <A2>, <A3>] -->
            <li>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a>
                {% comment %} /board/articles/{{article.id}} {% endcomment %}
            </li>  <!-- <A1> -->
        {% endfor%}
    </ul>
{% endif %}

{% endblock body %}