<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make art</title>
</head>
<body>
    <h1>Put some text</h1>
    <form action="/result">
        <!-- <input name="num1" type="text">
        <input name="num2" type="text"> -->
        <input name="input_text" type="text">
        <select name="font">
            <option value="random">랜덤</option>
            <option value="block">블록</option>
            <option value="white_bubble">동그라미</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>