<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/add">add</a></li>
            <li><a href="/art">art</a></li>
            <li><a href="/boxoffice">boxoffice</a></li>
            <li><a href="/dday">dday</a></li>
            <li><a href="/index">index</a></li>
            <li><a href="/receive">receive</a></li>
            <li><a href="/result">result</a></li>
            <li><a href="/send">send</a></li>
            <li><a href="/review">substr</a></li>
            <li><a href="#"></a></li>
        </ul>
    </nav> 
</body>
</html>